p {
    /* caso não encontre a Arial, pula para a proxima fonte */
    /*  o terceiro parametro é o generic-family */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    /* espaço entre as linhas */
    line-height: 1.5;
    /* alinhamento do texto */
    text-align: justify;
}

h1 {
    text-align: center;
    /* decoração do texto */
    text-decoration: underline;
}